<!-- Copyright 2021-2022 Steve Strublic

     This work is the personal property of Steve Strublic, and as such may not be
     used, distributed, or modified without my express consent.
-->

<!-- This specific form does not extend the base / common stuff because we don't want the menuing. -->
<!doctype html>
<html lang="en">
    <title>The Elect-O-Matic!</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.85">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- The page might load with no data because the voter Id was not fond. -->
    {% if configdata != None %}

    {% if configdata[4] != '0' and configdata[5] != '0' %}
      <link rel="shortcut icon" href="{{ url_for('main_bp.images', clubid='' + configdata[4], eventid='' + configdata[5], filename='' + configdata[2]) }}">
    {% else %}
      <link rel="shortcut icon" href="{{ url_for('static', filename='' + configdata[2]) }}">
    {% endif %}

    {% endif %}

    <script src="{{ url_for('static', filename='common.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <!-- Got a nice icon from these people. This is the attribution. -->
    <!-- https://www.flaticon.com/free-icons/prize Prize icons created by Freepik - Flaticon -->

<body>

<div>
<h1>
    <b>Event Vote Login</b>
</h1>
</div>

<div>

<form action="" role="form" method="post">

    {% if voterid == None %}
    <div>
        <label class="voter" title="The unique Voter ID." for="voterid">Voter ID:</label>

        <input class="voterid" type="tel" minlength="10" maxlength="10" id="voterid" name="voterid" autofocus>
        <button type="submit" id="entrybutton" disabled>Submit</button>
    </div>
    {% endif %}

    {% include 'messages.html' %}

</form>

<br>

</div>

</body>
</html>