<!-- Copyright 2021-2022 Steve Strublic

     This work is the personal property of Steve Strublic, and as such may not be
     used, distributed, or modified without my express consent.
-->

{% extends 'base.html' %}

{% block content %}

<div class="page-content">

<div>
<h1>
    <b>Reset Password</b>
</h1>
</div>

<div class="page-interior">

<form action="" role="form" method="post">
    <!-- If no entry yet taken, show this. -->
    {% if username == None %}
    <div>
        <label class="user"  title="The User's unique username for this Club." for="username">User Name:</label>
        <input class="user"maxlength="64" id="username" name="username" \
               {% if username == None %} autofocus {%endif %} \
               {% if username != None %} disabled value="{{username}}" {% endif %}>
        <div style="padding:10px;">
            <button type="submit" id="userbutton" disabled>Submit</button>
        </div>
    </div>

    {% else %}
    <input type="hidden" id="username" name="username" value="{{username}}">
    <div>
        <label class="user" title="The User's unique username for this Club." for="username">User Name:</label>
        <input class="user" type="text" id="username" name="username" value="{{username}}" disabled><br>
        <label class="user" title="The User's name." for="fullname">Full Name:</label>
        <input class="user" type="text" id="fullname" name="fullname" value="{{fullname}}" disabled><br>
        <label class="user" title="The User's new password." for="passwd">Password:</label>
        <input class="user" type="password" maxlength="64" id="passwd" name="passwd" value="" autofocus><br>
        <label class="user" title="Enter the password again to confirm." for="confirmpasswd">Confirm Password:</label>
        <input class="user" type="password" maxlength="64" id="confirmpasswd" name="confirmpasswd" value=""><br><br>

        <!-- Controls. -->
        <div style="padding:10px;">
            <button type="submit" id="savebutton" name="savebutton" value="save">Submit</button>
            <button type="submit" id="cancelbutton" name="cancelbutton" value="cancel">Cancel</button>
        </div>
    </div>

    {% endif %}
</form>

{% include 'messages.html' %}

</div>

</div>

{% endblock %}