<!-- Copyright 2021-2022 Steve Strublic

     This work is the personal property of Steve Strublic, and as such may not be
     used, distributed, or modified without my express consent.
-->

<!doctype html>
<html lang="en">
    <title>404 Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.85">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<body>

<div>
<h1>
    <b>Page Unavailable</b>
</h1>
</div>

<h3 align="center">There's nothing here to see!</h3>

</body>
</html>