<!-- Copyright 2021-2022 Steve Strublic

     This work is the personal property of Steve Strublic, and as such may not be
     used, distributed, or modified without my express consent.
-->

{% extends 'base.html' %}

{% block content %}

{% if user in admins %}
<div class="page-content">
{% else %}
<div class="page-content-public">
{% endif %}

    {% block title %}

    <!--  Remove the margin for headers, since this page doesn't have any. -->
    <div class="main-page">
        {% if not (user in admins) %}
        <div style="padding-top: 125px;"></div>
        <div class="main-page-card">
        </div>
        {% else %}

        <div class="main-page-card">
        </div>
        {% endif %}

        {% if user != None and user in admins and (configdata[12] == 0) %}
        <div class="main-page-row">
            <div class="main-page-column">
            <div class="main-page-card">
            </div>
            </div>
        </div>
        {% endif %}

    </div>

    {% endblock %}

{% include 'messages.html' %}

</div>

{% endblock %}