<!-- Copyright 2021-2022 Steve Strublic

     This work is the personal property of Steve Strublic, and as such may not be
     used, distributed, or modified without my express consent.
-->

{% extends 'base.html' %}

{% block content %}

<div class="page-content">

<div>
<h1>
    <b>Remove Ballot Item {{itemdata['itemid']}}</b>
</h1>
</div>

<div class="page-interior">

<form action="" role="form" method="post">
    <!-- If the event is locked, then nothing can be done. -->
    {% if configdata[12] == False %}
    <!-- Controls. -->
    <div class="top-buttons">
        {% if delete_request == False %}
        <button type="submit" id="savebutton" name="savebutton" value="delete">Submit</button>
        {% elif confirm_request == False %}
        <button type="submit" id="savebutton" name="savebutton" value="confirm">Confirm</button>
        {% else %}
        <button type="submit" id="savebutton" name="savebutton" value="save">Delete Item</button>
        {% endif %}
        <button type="submit" id="cancelbutton" name="cancelbutton" value="cancel">Cancel</button>
    </div>

    <div class="button-top-page-content">
        <div style="width: 100%; text-align: center;"><span class="ballotitem">Removing Ballot Items will also remove all Candidates for the Contest.</span></div><br>
        <label class="ballotitem" title="The type of ballot item." for="type">Item Type</label>
        <input class="ballotitem-type" type="text" id="type" name="type" value="{{itemdata['typestr']}}" disabled><br><br>

        {% if itemdata['type'] == 1 %}
        <label class="ballotitem" title="The number of positions up for election." for="positions" id="positionslabel">Positions</label>
        <input class="ballotitem-positions" type="number" min="1" id="positions" name="positions" value="{{itemdata['positions']}}" disabled><br><br>

        <label class="ballotitem" title="Write-ins are allowed for this position." for="writeins" id="writeinslabel">Write-ins Allowed</label>
        <input class="ballotitem-writeins" type="checkbox" id="writeins" name="writeins" value="True" {% if itemdata['writeins'] == True %}checked{% endif %} disabled><br><br>
        {% endif %}

        <label class="ballotitem" title="the name of the ballot item." for="name">Item Name</label>
        <input class="ballotitem-name" maxlength="64" type="text" id="name" name="name" value="{{itemdata['name']}}" disabled><br><br>

        <label class="ballotitem" title="Describes the ballot item." for="description">Item Description</label><br>
            <div class="ballotitem-textarea">
        <textarea class="ballotitem-desc" maxlength="1024" rows="5" cols="80" id="description" name="description" disabled>{{itemdata['description']}}</textarea>
        </div>
        <br>

        <div align="center" style="padding:20px;">
            <button type="submit" id="redirect" name="redirect" value="showitems" class="w3-button w3-border w3-border-gray w3-padding-large w3-white pagebutton">View Ballot Items</button>
        </div>
        <br>
    </div>

    {% endif %} <!-- event locked -->
</form>

{% include 'messages.html' %}

</div>

</div>

{% endblock %}