<!-- Copyright 2021-2022 Steve Strublic

     This work is the personal property of Steve Strublic, and as such may not be
     used, distributed, or modified without my express consent.
-->

{% extends 'base.html' %}

{% block content %}

<div class="page-content">

<div>
<h1>
    <b>System Documentation</b>
</h1>
</div>

<div class="page-interior">

<form action="" role="form" enctype="multipart/form-data">
    <div>
        <br>
        <!-- This link points to the tempalte data file on disk on the server. -->
        <p><label><a class="link" href="{{ filepath }}" download='{{filename}}' target='blank'>Download Documentation</a></label></p>
    </div>
</form>

{% include 'messages.html' %}

</div>

</div>

{% endblock %}